<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Debug Options -->
    <add key="Debug" value="false"/>
    <add key="Security" value="true"/>
    <add key="Trace" value="false"/>
    <add key="SQLTrace" value="false"/>
    <add key="XMLTrace" value="false"/>
    <add key="Timing" value="false"/>
    <add key="softlock" value="true"/>
    <add key="RoundRobinReplicator" value="60"/>
    <add key="RoundRobinEvent" value="60"/>
    <add key="RoundRobinInbound" value="60"/>
    <add key="RoundRobinTask" value="60"/>
    <!-- default ConnectionSpec -->
    <add key="DefaultConfig" value="DEFAULT"/>
    <add key="PendoAnalyticsURL" value="http://www.pendo.io/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
