<configuration>
  <appSettings>
    <!-- Debug Options -->
    <add key="Debug" value="false"/>
    <add key="Security" value="true"/>
    <add key="Trace" value="false"/>
    <add key="SQLTrace" value="false"/>
    <add key="XMLTrace" value="false"/>
    <add key="Timing" value="false"/>
    <!--add key="ConfigPath" value="C:\Unitecture\FrameworkApplications" -->
    <!--add key="ConfigPath" value="c:\ToolsDev\binu" -->    
    <!-- default ConnectionSpec -->
    <add key="DefaultConfig" value="SampleConfig"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
