<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <!-- Enable .Net server mode garbage collection for better performance -->
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="Mongoose.IDORuntimeHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <appSettings>
     <add key="LargeQueryThreshold" value="100000" />
     <add key="ResponseXMLThreshold" value="524288000" />
   </appSettings>
      <runtime>
      <gcServer enabled="true" />

      <!-- 
      7Dec16 - jcurry - add this setting so that unhandled exceptions do not bring down the IDO runtime process
      -->
      <legacyUnhandledExceptionPolicy enabled="1" />


      <!-- 
      1May18 - jcurry - need to add these so that the Roslyn compiler will function (MGCodeUtil)
      -->
      <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
         </dependentAssembly>
      </assemblyBinding>-->
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.35.1.0" newVersion="4.35.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.12.2.0" newVersion="6.12.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.0.20168.4" newVersion="2.0.20168.4" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
         </dependentAssembly>
      </assemblyBinding>
      
   </runtime>

   <!-- Adding safe environment variables:
   
        These variables will be visible to IDO extension classes in partial trust.
        
        Each environment variable must be added to the SafeEnvVars section below using this format:
        
         <setting name="SafeEnvVars" serializeAs="Xml">
            <value>
               <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <string>VARNAME1</string>
                  <string>VARNAME2</string>
               </ArrayOfString>
            </value>
         </setting>
        -->

   <applicationSettings>
      <Mongoose.IDORuntimeHost.Properties.Settings>
         <setting name="EnableHttp" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="HttpPort" serializeAs="String">
            <value>982</value>
         </setting>
         <setting name="HttpListenerThreads" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SslPort" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="CryptLogonKey" serializeAs="String">
            <value>ga[T;jun4i$}N2h*</value>
         </setting>
         <setting name="SafeEnvVars" serializeAs="Xml">
            <value>
               <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
            </value>
         </setting>
         <setting name="DisableLicenseMonitor" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="MaxPooledServiceSessions" serializeAs="String">
            <value>8</value>
         </setting>
         <setting name="MaxPooledWebServiceSessions" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="PooledSessionTimeoutSeconds" serializeAs="String">
            <value>60</value>
         </setting>
         <setting name="DataCatalogOAuthConsumerKey" serializeAs="String">
            <value>PwFOyvmBYn.zB8r6v2El</value>
         </setting>
         <setting name="DataCatalogOAuthConsumerSecret" serializeAs="String">
            <value>fi8ikmi.nH9JskdpgL0h</value>
         </setting>
      </Mongoose.IDORuntimeHost.Properties.Settings>
   </applicationSettings>
   
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
   </startup>

   <system.net>
      <connectionManagement>
         <!-- issue 249252: the default value for maxconnection is 2.  This can become a bottleneck when 
              many callers are attempting to make web service calls to the same domain.  Setting to
              1000 per FactroyTrack request.  This value may be adjusted post-install.
         -->
         <add address="*" maxconnection="1000" />
      </connectionManagement>
   </system.net>

</configuration>
