<configuration>
  <appSettings>
    <!-- Debug Options -->
    <add key="Debug" value="false"/>
    <add key="Security" value="true"/>
    <add key="Trace" value="false"/>
    <add key="SQLTrace" value="false"/>
    <add key="XMLTrace" value="false"/>
    <add key="Timing" value="false"/>
    <add key="defaultparty_name" value="portaluser"/>
    <add key="administrator_name" value="administrator"/>
    <add key="defaultparty_id" value="1"/>
    <add key="WebFarm" value="false"/>
    <add key="UIDataSyncLatencySeconds" value="30"/>
    <!-- Setting UIPageCacheSize value of 0 will disable user/browser from being able to use back/forward
		buttons for navigation, and will only hold the current page cache collection.  Valid value is
		0..n, to represent number of pages cached in session, for each user (+1)  Install Default is 20
		 - adjust for memory considerations in individual servers. 
		 -->
    <add key="UIPageCacheSize" value="20"/>
    <add key="PhysSchemaPath" value="c:\inetpub\wwwroot\schema\"/>
    <add key="PortalInstallDir" value="c:\Program Files\MAPICS\Portal\"/>
    <add key="SharedFolder" value="c:\Program Files\MAPICS\Portal\Shared"/>
    <add key="LicenseTimeoutSeconds" value="1800"/>
    <add key="LicenseTimerMilliSeconds" value="60000"/>
    <add key="LicenseAlertUser" value="administrator"/>
    <add key="LicenseAlerts" value="true"/>
    <add key="ConfigPath" value="C:\Unitecture\Framework\"/>
    <!-- default ConnectionSpec -->
    <add key="DefaultConfig" value="SampleConfig"/>
    <add key="MSAssemblyLocation" value="C:\WINDOWS\Microsoft.NET\Framework\v1.1.4322"/>
    <add key="UAAssemblyLocation" value="C:\Unitecture\Framework\bin"/>
  </appSettings>

  <system.web>
    <pages smartNavigation="true" validateRequest="false"/>
    <customErrors mode="Off"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!-- set debugmode to false for running application -->
    <compilation debug="true"/>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>

    <authentication mode="Forms">
      <forms protection="All" name=".MPXAUTH" timeout="60" path="/" loginUrl="login.aspx"/>
    </authentication>

    <authorization>
      <!-- Refers to the anonymous identity  - deny all anon -->
      <deny users="?"/>
      <!-- Refers to all identities - allow all authenticated users -->
      <allow users="*"/>
    </authorization>

    <httpRuntime useFullyQualifiedRedirectUrl="true"/>

    <clientTarget>
      <add alias="ie6" userAgent="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.0; ONDOWN3.2; AtHome021SI; Q312461; .NET CLR 1.0.3705) "/>
    </clientTarget>
  </system.web>

  <location path="trace.axd">
    <!-- authorize anon users to the "trace.axd" utility file itself -->
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\MpxNet.log"/>
        <remove type="System.Diagnostics.DefaultTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
