<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mongoose.ServiceConfigManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mongoose.ServiceConfigManager.Properties.Settings>
            <setting name="ServiceIDEventService" serializeAs="String">
                <value>EventService</value>
            </setting>
            <setting name="ServiceIDReplicator" serializeAs="String">
                <value>Replicator</value>
            </setting>
            <setting name="ServiceIDQListener" serializeAs="String">
                <value>ReplQListener</value>
            </setting>
            <setting name="ServiceIDTaskman" serializeAs="String">
                <value>TaskMan</value>
            </setting>
            <setting name="ServiceIDInboundBus" serializeAs="String">
                <value>InboundBus</value>
            </setting>
            <setting name="ServiceIDIDORuntimeService" serializeAs="String">
                <value>IDORuntimeService</value>
            </setting>
        </Mongoose.ServiceConfigManager.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
